package {{ .PackageName }}

import "github.com/danielgtaylor/huma/v2"

type Deps struct {

}

func New(opts ...func(*Deps)) Deps {
	d := Deps{}

	for _, opt := range opts {
		opt(&d)
	}

	return d
}

func (d *Deps) Routes(router huma.API) {
}